body{
background-color: black;
}
.header text{
    color: white;
    text-align: center;
    font-size: 50px;
    font-family: Verdana;
}
img, video{
    display: block;
    margin: 40px auto 0;
}
h2{
    font-family: Verdana;
    font-weight: 300;
    font-size: 42px;
    color: white;
    text-align: center;
}
a{
    color: aquamarine;
    font-size: 16px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
p{
    color: gray;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 21px;
}
.footer{
    display: block;
    margin:auto;
    text-align: right;
    color: gray;
}